{% extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('  {{ url_for('static',filename='assets/img/home-bg.jpg')}} ')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Admin Panel</h1>
                            <span class="subheading">Manage your posts Here</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

                  <h1>ADD POST</h1>
                  <a href="/add"><button class="btn btn-primary">ADD POST</button></a>
                  <a href="/logout"><button class="btn btn-secondary">LOGOUT</button></a>
                    <hr>
                    <!-- Post preview-->

                    <!--Todo fetch it using for loop from the database-->
                    <h1>File upload system</h1>
                    <form action="/uploader" method="post" enctype="multipart/form-data">
                      <input type="file" name="file1"/>
                      <button type="submit" class="btn btn-success">SUBMIT</button>
                    </form>
                    <hr>
                    <h1>WELCOME TO YOUR BLOG ADARSH</h1>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">S.NO.</th>
                            <th scope="col">Title</th>
                            <th scope="col">Date</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                          </tr>
                        </thead>
                        <tbody>
                            {%  for post in posts  %}
                          <tr>
                            <th scope="row">{{post.S_NO}}</th>
                            <td>{{post.title}}</td>
                            <td>{{post.date}}</td>
                            <th scope="col"><a href="/edit/{{post.S_NO}}"><button class="btn btn-primary">Edit</button></a></th>
                            <th scope="col"><a href="/delete/{{post.S_NO}}"><button class="btn btn-danger">Delete</button></a></th>
                          </tr>
                          {% endfor %}
                          
                        </tbody>
                      </table>
                    <!-- Divider-->
                    <hr class="my-4" />
                    

                    <!-- Pager-->
                    <nav aria-label="Pagination">

                    
                    <!-- Pager-->
                </div>
            </div>
        </div>

        {% endblock %}